services:
  gem:
    build:
      context: .
      dockerfile: Dockerfile.dev
    volumes:
      - .:/gem_home
      - bundle_cache:/usr/local/bundle
    environment:
      - BUNDLE_PATH=/usr/local/bundle
    stdin_open: true
    tty: true

volumes:
  bundle_cache:
